<!--build some basic structure, show loading gif next to header-->
<div class='container'>
    <div class="page-header">
      <h1>YouTube Search
        <img
          style="float: right;"
          *ngIf="loading"
          src='assets/images/loading.gif' />
      </h1>
    </div>

<!--bind to the loading and results outputs-->
<div class="row">
    <div class="input-group input-group-lg col-md-12">
      <app-search-box
         (loading)="loading = $event"
         (results)="updateResults($event)"
          ></app-search-box>
    </div>
  </div>
  
  <!--take the list of results in the component, render a search-result for each one-->
  <div class="row">
      <app-search-result
        *ngFor="let result of results"
        [result]="result">
      </app-search-result>
    </div>
</div>

